{% include 'navbar.html' %}
<html>
<head>
<title>Genders</title>
</head>
<body>
    <canvas id="myChart" width="150" height="50"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels : [{% for gender in gender_list %}"{{ gender }}",{% endfor %}],
            datasets: [{
              label: "Gender",
              data : [{% for number in gender_number %}{{ number }},{% endfor %}],
              backgroundColor: 'rgba(75, 192, 192, 0.2)',
              borderColor: 'rgba(75, 192, 192, 1)',
              borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    </script>
  
  </body>
  </html>        
</body> 
</html>


