<html>
<head>
<title>CSV Reader</title>
<body>
<div class="container">
<nav class="navbar navbar-dfault navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/menu/">CSV Reader</a>
        </div>
        <ul class="nav navbar-nav">
        <li><a href="list">Home</a></li>
        <li><a href="/menu/page1">Page 1</a></li>
        <li><a href="/menu/page2">Page 2</a></li>
        <li class="dropdown">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Drop dropdown
            <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="/menu/page3">Page 3</a></li>
        </ul>
        </li>
    </ul>
</body>
</head> 
</html>