{% load static %}
{% include 'navbar.html' %}
<html>
<head>
    <meta charset="UTF-8">
    <title>CSV</title>
</head>
<body>
<div class="container card" style="...">
    <div class="row justify-content-center container">
        <div class="content">
            <h1> Please upload your csv file</h1>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="document" id="document" required="required">
                <button id="submit"> Upload </button>
            </form>

        </div>

    </div>

</div>
</body>

</html>