
{% load static %}
<html>
<head>
    <style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    li a:hover {
      background-color: #111;
    }
    </style>
    </head>
    <body>
    
    <ul>
      <li><a class="active" href="#home">Home</a></li>
      <li><a href="table">Table</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#about">About</a></li>
    </ul>
    
    </body>
    <font size="2" face="Tahoma" >
    <h1 class='table'></h1>

        <table border="1"; width="25%";>
            <thead>
                <th>Person</th>
                <th>Gender</th>
                <th>Birthdate</th>
            </thead>
            {% for k in data  %}
            <tr>
                <td>{{k}}</td>
                <td>{{k.getGender}}</td>
                <td>{{k.getBirthdate}}</td>
            
            </tr>
            
            {% endfor %}
        </table>
    </font>
    </div>
</html>